@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
}

.flex {
  display: flex;
}

.ml-28 {
  margin-left: 7rem; /* Adjust based on the width of your sidebar */
}

.p-5 {
  padding: 1.25rem;
}

.flex-grow {
  flex-grow: 1;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.modal-content.show {
  transform: scale(1);
}